* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container,
#root {
  width: 100%;
  height: 100%;
  max-width: 100%; /* Usa 100% en lugar de 100vw */
  max-height: 100%; /* Usa 100% en lugar de 100vh */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee8e2; /* Fondo claro para el contenedor */
}
